## Observations and Insights

In [1]:
# Dependencies and Setup
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import os
import csv
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata_df = pd.read_csv(mouse_metadata_path)
study_results_df = pd.read_csv(study_results_path)

In [2]:
mouse_metadata_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [3]:
study_results_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
# Combine the data into a single dataset
combine_files_df = pd.merge(study_results_df, mouse_metadata_df, how='outer', on="Mouse ID")

# Display the data table for preview
combine_files_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [5]:
# Checking the number of mice.
mice_count_df = combine_files_df.dropna(how="any")
mice_count_df.count()

Mouse ID              1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
dtype: int64

In [6]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
dup_mice_time_df = combine_files_df.groupby("Mouse ID")["Timepoint"].nunique()
dup_mice_time_df

Mouse ID
a203    10
a251    10
a262    10
a275    10
a366     7
        ..
z435     3
z578    10
z581    10
z795    10
z969    10
Name: Timepoint, Length: 249, dtype: int64

In [7]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_data_df = combine_files_df.drop_duplicates(subset="Mouse ID", keep="last")
clean_data_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
9,b128,45,38.982878,2,Capomulin,Female,9,22
10,f932,0,45.000000,0,Ketapril,Male,15,29
18,g107,35,71.905117,0,Ketapril,Female,2,29
21,a457,10,49.783419,0,Ketapril,Female,11,30
30,c819,40,62.175705,1,Ketapril,Male,21,25

In [8]:
# Optional: Get all the data for the duplicate mouse ID.

In [9]:
# Checking the number of mice in the clean DataFrame.
clean_mice_count_df = clean_data_df.dropna(how="any")
clean_mice_count_df.count()

Mouse ID              249
Timepoint             249
Tumor Volume (mm3)    249
Metastatic Sites      249
Drug Regimen          249
Sex                   249
Age_months            249
Weight (g)            249
dtype: int64

## Summary Statistics

In [10]:
#Generate a summary statistics table of mean, median, variance,standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [11]:
#Rename the clean table to help with section of Homework working on.
sum_stats_df = clean_data_df.copy(deep=True)
sum_stats_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
9,b128,45,38.982878,2,Capomulin,Female,9,22
10,f932,0,45.000000,0,Ketapril,Male,15,29
18,g107,35,71.905117,0,Ketapril,Female,2,29
21,a457,10,49.783419,0,Ketapril,Female,11,30
30,c819,40,62.175705,1,Ketapril,Male,21,25

In [12]:
sum_stats_df.columns

Index(['Mouse ID', 'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites',
       'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)'],
      dtype='object')

In [13]:
#Mean of Tumor Volume
mean_tumor = sum_stats_df.groupby(["Drug Regimen"]).mean()["Tumor Volume (mm3)"]
mean_tumor

Drug Regimen
Capomulin    36.667568
Ceftamin     57.753977
Infubinol    58.178246
Ketapril     62.806191
Naftisol     61.205757
Placebo      60.508414
Propriva     56.736964
Ramicane     36.191390
Stelasyn     61.001707
Zoniferol    59.181258
Name: Tumor Volume (mm3), dtype: float64

In [14]:
#Median of Tumor Volume
median_tumor= sum_stats_df.groupby(["Drug Regimen"]).median()["Tumor Volume (mm3)"]
median_tumor

Drug Regimen
Capomulin    38.125164
Ceftamin     59.851956
Infubinol    60.165180
Ketapril     64.487812
Naftisol     63.283288
Placebo      62.030594
Propriva     55.841410
Ramicane     36.561652
Stelasyn     62.192350
Zoniferol    61.840058
Name: Tumor Volume (mm3), dtype: float64

In [15]:
#Variance of the tumor volume 
var_tumor = sum_stats_df.groupby(["Drug Regimen"]).var()["Tumor Volume (mm3)"]
var_tumor

Drug Regimen
Capomulin     32.663378
Ceftamin      69.982735
Infubinol     74.010875
Ketapril      98.921330
Naftisol     106.029927
Placebo       78.759797
Propriva      69.349002
Ramicane      32.166354
Stelasyn      90.331586
Zoniferol     76.862027
Name: Tumor Volume (mm3), dtype: float64

In [16]:
#Sstandard deviation of Tumor Volume
std_tumor = sum_stats_df.groupby(["Drug Regimen"]).std()["Tumor Volume (mm3)"]
std_tumor

Drug Regimen
Capomulin     5.715188
Ceftamin      8.365568
Infubinol     8.602957
Ketapril      9.945920
Naftisol     10.297083
Placebo       8.874672
Propriva      8.327605
Ramicane      5.671539
Stelasyn      9.504293
Zoniferol     8.767099
Name: Tumor Volume (mm3), dtype: float64

In [17]:
#SEM of Tumor Volume
sem_tumor = sum_stats_df.groupby(["Drug Regimen"]).sem()["Tumor Volume (mm3)"]
sem_tumor

Drug Regimen
Capomulin    1.143038
Ceftamin     1.673114
Infubinol    1.720591
Ketapril     1.989184
Naftisol     2.059417
Placebo      1.774934
Propriva     1.665521
Ramicane     1.134308
Stelasyn     1.940056
Zoniferol    1.753420
Name: Tumor Volume (mm3), dtype: float64

In [18]:
summary_stats_df = pd.DataFrame({'Mean of Tumor Volume':round(mean_tumor,2),
                          'Median of Tumor Volume':round(median_tumor,2),
                          'Variance of Tumor Volume':round(var_tumor,2),
                          'STD of Tumor Volume':round(std_tumor,2),
                          'SEM of Tumor Volume': round(sem_tumor,2)})
summary_stats_df

,Mean of Tumor Volume,Median of Tumor Volume,Variance of Tumor Volume,STD of Tumor Volume,SEM of Tumor Volume
Drug Regimen,,,,,
Capomulin,36.67,38.13,32.66,5.72,1.14
Ceftamin,57.75,59.85,69.98,8.37,1.67
Infubinol,58.18,60.17,74.01,8.60,1.72
Ketapril,62.81,64.49,98.92,9.95,1.99
Naftisol,61.21,63.28,106.03,10.30,2.06
Placebo,60.51,62.03,78.76,8.87,1.77
Propriva,56.74,55.84,69.35,8.33,1.67
Ramicane,36.19,36.56,32.17,5.67,1.13
Stelasyn,61.00,62.19,90.33,9.50,1.94
Zoniferol,59.18,61.84,76.86,8.77,1.75

In [19]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
clean_summary_stats_df=sum_stats_df.groupby("Drug Regimen")
clean_summary_stats_df.head(10)

# Using the aggregation method, produce the same summary statistics in a single line
summary_stats2_df = clean_summary_stats_df.agg(['mean','median','var','std','sem'])["Tumor Volume (mm3)"]
summary_stats2_df.round(2)

               mean  median     var    std   sem
Drug Regimen
Capomulin     36.67   38.13   32.66   5.72  1.14
Ceftamin      57.75   59.85   69.98   8.37  1.67
Infubinol     58.18   60.17   74.01   8.60  1.72
Ketapril      62.81   64.49   98.92   9.95  1.99
Naftisol      61.21   63.28  106.03  10.30  2.06
Placebo       60.51   62.03   78.76   8.87  1.77
Propriva      56.74   55.84   69.35   8.33  1.67
Ramicane      36.19   36.56   32.17   5.67  1.13
Stelasyn      61.00   62.19   90.33   9.50  1.94
Zoniferol     59.18   61.84   76.86   8.77  1.75

## Bar and Pie Charts

In [20]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

#Generating Table for refrence in this section of the Homework
bar_pie_chart_df = clean_data_df.copy(deep=True)
bar_pie_chart_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
9,b128,45,38.982878,2,Capomulin,Female,9,22
10,f932,0,45.000000,0,Ketapril,Male,15,29
18,g107,35,71.905117,0,Ketapril,Female,2,29
21,a457,10,49.783419,0,Ketapril,Female,11,30
30,c819,40,62.175705,1,Ketapril,Male,21,25

In [30]:
#Generating a Data Frame total of Drug Reigmen
timepoints_mice_df= pd.DataFrame(pd.value_counts(bar_pie_chart_df["Drug Regimen"]))
timepoints_mice_df

           Drug Regimen
Placebo              25
Infubinol            25
Ramicane             25
Ketapril             25
Ceftamin             25
Propriva             25
Zoniferol            25
Naftisol             25
Capomulin            25
Stelasyn             24

In [21]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [22]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [23]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [24]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [25]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [26]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [27]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [28]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [29]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen